.mobileVersion{
    display: none;
};
nav  li{
	color: rgba(0,0,0,0.2);
	font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    list-style-type: none;
};
nav li::before {
	color: black;
	content: attr(data-hover);
	position: absolute;
	transition: transform 0.3s, opacity 0.3s;
};
nav li:hover::before,
nav li:focus::before {
	transform: scale(0.9);
	opacity: 0;
};
.up{
    position: fixed;
    top: 80%;
    bottom:0;
    right: 0;
    margin-right: 4%
};
mat-icon {
    color: #efefef;
    height: auto;
    width: auto;
    border: solid;
    border-radius: 100%;
};
nav{
    display: block;
    margin-top: 1%;
};
li{
    font-family: skinny;
    font-size: 2em;
    cursor: pointer;
};
ul{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
};
@media (max-width : 800px){
    nav{
        display: none;
    };
    .mobileVersion{
        display: block;
        position: absolute;
    };
    .up{
        display: none;
    };
};
@media (max-width: 500){
    .mobileVersion{
        width: auto;
    };
};
@media (max-width: 412px){
    mat-icon{
        color: #4a6873 
    }
}