
.container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6%;
    background-color: #efefef;
    padding: 8%;
}
img{
    max-width: 60%;
}
a{
    color: black;
}
.contactUs{
    font-family: skinny;
    font-size: 1.6em;
}
@media (max-width : 400px){
    .body{
        padding-top: 20%;
    }
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
}