<div class="body">
    <div class="container">
        <div class="imageDiv">
            <img src="/assets/maison.jpg" alt="">
        </div>
        <div class="contactUs">
            Nous Contacter : <br/>
            Par mail: <br/>
            <a href="mailto:valcaris@wanadoo.fr">valcaris@wanadoo.fr </a> <br/>
            Par téléphone:<br/>
            04-75-41-59-97.
        </div>
        <div>
            <a href="https://www.booking.com/searchresults.fr.html?aid=318615;label=French_France_FR_FR_28510487425-iKNrevu_yrkTv8Cgnfw2hQS217246151268%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi23284148366%3Atidsa-301958519203%3Alp9056024%3Ali%3Adec%3Adm;sid=4433181ff73bac79dadea75444a93bfd;city=-1440592;expand_sb=1;highlighted_hotels=2222954;hlrd=no_dates;keep_landing=1;redirected=1;source=hotel&gclid=Cj0KCQjwyJn5BRDrARIsADZ9ykH_VZK0AUs00SJM1fYpU2B3qYQzDPWPeHrF52T78pW-1s8JBbn8QOoaAre2EALw_wcB&room1=A,A,;"> Booking</a>
        </div>
    </div>
</div>
