
.container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6%;
    background-color: #efefef;
    padding: 8%;
    border-radius: 14px;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 25, 0.2);
}
img{
    max-width: 60%;
}
a{
    color: black;
}
.contactUs{
    font-family: skinny;
    font-size: 1.6em;
}
@media (max-width : 400px){
    .body{
        padding-top: 20%;
    }
    .imageDiv{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }
    .contactUs{
        text-align: center;
    }
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
}