.body{
    width: 100%;
    margin-top: 6%;
};
.container{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
img{
    max-width: 60%;
}
.contactUs{
    font-family: skinny;
    font-size: 1.6em;
    margin-top: 10%;
}
@media (max-width : 400px){
    .body{
        padding-top: 20%;
        flex-direction: column;
        align-items: center;
    }
}