<div class="tarif">  
    <mat-tab-group>
        <mat-tab label="Gîtes (max 6 personnes)">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="nuits">
                    <th mat-header-cell *matHeaderCellDef> Nuits </th>
                    <td mat-cell *matCellDef="let element"> {{element.nuits}} </td>
                </ng-container>
                <ng-container matColumnDef="euros">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let element"> {{element.euros}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Gîte de groupe (max 15 pers.)">
            <table mat-table [dataSource]="data" class="mat-elevation-z8">
            <ng-container matColumnDef="nuits">
                <th mat-header-cell *matHeaderCellDef> Nuits </th>
                <td mat-cell *matCellDef="let element"> {{element.nuits}} </td>
            </ng-container>
            <ng-container matColumnDef="euros">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let element"> {{element.euros}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Séjour une semaine">
            <table mat-table [dataSource]="dataSemaine" class="mat-elevation-z8">
                <ng-container matColumnDef="repas">
                    <th mat-header-cell *matHeaderCellDef> Repas </th>
                    <td mat-cell *matCellDef="let e"> {{e.repas}} </td>
                </ng-container>
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Age </th>
                    <td mat-cell *matCellDef="let e"> {{e.age}} </td>
                </ng-container>
                <ng-container matColumnDef="euros">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let e"> {{e.euros}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnSemaine"></tr>
                <tr mat-row *matRowDef="let row; columns: columnSemaine;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Accueil rando">
            <table mat-table [dataSource]="dataRando" class="mat-elevation-z8">
                <ng-container matColumnDef="forfait">
                    <th mat-header-cell *matHeaderCellDef> Forfait </th>
                    <td mat-cell *matCellDef="let e"> {{e.forfait}} </td>
                </ng-container>
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Age </th>
                    <td mat-cell *matCellDef="let e"> {{e.age}} </td>
                </ng-container>
                <ng-container matColumnDef="euros">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let e"> {{e.euros}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnRando"></tr>
                <tr mat-row *matRowDef="let row; columns: columnRando;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Autres Informations">
            <table mat-table [dataSource]="dataInfo" class="mat-elevation-z8">
                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef> Service </th>
                    <td mat-cell *matCellDef="let e"> {{e.service}} </td>
                </ng-container>
                <ng-container matColumnDef="prix">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let e"> {{e.prix}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnInfo"></tr>
                <tr mat-row *matRowDef="let row; columns: columnInfo;"></tr>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>