.tarif{
    margin-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center
}

mat-tab-group{
    width: 60%;

}
.mat-elevation-z8{
    margin-top: 8%;
    margin-left: 4%;
    width: 80%;
}