.body{
    background-color: #efefef;
}
.carousel {
    margin-top: 2%;
    text-align: center;
    padding-bottom: 4%;
};
img{
    max-width: 60%;
    max-height: 600px;
};
.carousel .carousel-control-next-icon{
        background-size: 50px;
};
span{
     text-decoration: underline
};
.firstPara{
    width: 60%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: skinny;
    font-size: 1.6em;
};
.description{
    width: 100%;
    display: flex;
    justify-content: center;
};
.mobile{
    display: none;
};
@media (max-width: 400px){
    img{
        max-width: unset;
        max-height: unset;
    }
    .firstPara{
        padding-top: 24%;
        width: 90%;
    };
    .carousel{
        display: none
    };
    .example-card {
        max-width: 300px;
    };
    .description{
        flex-direction: column;
        align-items: center;
        padding-top: 20%
    };
    .mobile{
        display: block;
    };
};