.carousel {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
};

.carousel .carousel-control-next-icon{
        background-size: 50px;
};
span{
     text-decoration: underline
};
.firstPara{
    width: 60%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: skinny;
    font-size: 1.4em;
};
.description{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #efefef;
};
@media (max-width: 400px){
    .description{
        padding-top: 24%;
    };
    .carousel{
        max-width: 160;
        max-height: 200px;
    };
    .carousel{
        display: none;
    }
}