.carousel {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
};

.carousel .carousel-control-next-icon{
        background-size: 50px;
};
span{
     text-decoration: underline
};
.firstPara{
    width: 60%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: skinny;
    font-size: 1.4em;
};
.description{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #efefef;
};
.mobile{
    display: none;
};
@media (max-width: 400px){
    .firstPara{
        padding-top: 24%;
        width: 90%;
    };
    .carousel{
        display: none
    };
    .example-card {
        max-width: 200px;
    };
    .description{
        flex-direction: column;
        align-items: center;
        padding-top: 20%
    };
    .mobile{
        display: block;
    };
};