
<div class="carousel">
    <ngb-carousel *ngIf="fayard">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[0]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[1]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[2]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[3]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[4]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[5]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[6]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[7]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[8]" alt="">
            </div>
        </ng-template>
    </ngb-carousel>
</div>