
<div class="carousel">
    <ngb-carousel *ngIf="fayard">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[0]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[1]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[2]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[3]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[4]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[5]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[6]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[7]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fayard[8]" alt="">
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="description">
    <div class="firstPara">
        <p>
            Tout comme son voisin le Frêne, le gîte du Fayard,
            d’une superficie d’environ 60m²,
            entièrement rénové par nos soins,
            conserve son charme d’antan avec son carrelage d’origine.<br />
            Il est sur deux niveaux et se compose :<br />
           <span> Au rez de chaussée :</span><br />
            D’un grand séjour avec coin cuisine équipé de toute la vaisselle utile à votre séjour, ainsi que d’une cuisinière, un
            lave vaisselle, un micro onde, un réfrigérateur avec congélateur, et d’un coin repas pouvant accueillir jusque 14
            personnes autour de sa grande table ovale.
            Un lave linge est également à votre disposition<br/>
            <span>A l’étage :</span><br/>
            Deux chambres: une chambre avec un lit double, et une chambre avec quatre lits simples superposés.
            Une salle d’eau avec douche, lavabo et WC
        </p>
    </div>
</div>