 .example-card {
        max-width: 350px;
    };
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20%
};
.photo{
    padding-top: 10%;
    padding-bottom: 10%;
}