.test {
    display: flex;
    justify-content: center;
};
span{
     text-decoration: underline
};
.firstPara{
    width: 60%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: skinny;
    font-size: 1.4em;
};
.description{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #efefef;

};
.carousel {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
};


