<div class="carousel">
    <ngb-carousel *ngIf="assets">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="assets[0]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="assets[1]" alt="">
        </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="assets[2]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="assets[3]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="assets[4]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="assets[5]" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="assets[6]" alt="">
            </div>
        </ng-template>
    </ngb-carousel>
</div>
