.body{
        background-image: url("/assets/vercors.jpg");
        background-repeat: no-repeat;
        height: 100%;
}

h1, h3{
    font-family: menu;
    font-size: 4.5em;
    display: flex;
    justify-content:center;
}
.titles{
    padding-top: 4%;
 
}
.about{
    font-family: skinny;
    font-size: 1.3em;
    width: 40%;
    padding: 1%;
    background-color: #4a6873;
    color: #fcfbf7;
    border-radius: 30px;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;

}
p{
    margin-top: 1%;
    margin-bottom: 1%
}