//common
p{
    margin-top: 1%;
    margin-bottom: 1%;
};
.about, .presentation, .echaillon, .info{
    font-family: skinny;
};
.about, .firstParagraph, .secondParagraph, .descriptionFayard, .descriptionFrene, .descriptionEchaillon{
    font-size: 1.6em;
};
#all{
    background-color: #efefef;
};
//title animation
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 4em;
	color: #9e9ba4;
	display: inline-block;
};
.valcaris {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #424242;
};
.valcaris:hover {
	color: #b2b0a9;
};
.valcaris::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
};
.valcaris:hover::after {
	transform: translate3d(100%,0,0);
};

.valcaris::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #b9a86a;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
};

.valcaris:hover::before {
	width: 100%;
};

//head
.head{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10%;
};
//titles
.titles h1{
    display: flex;
    justify-content:center;
    margin-top: 14%;
};
h1{
    font-size: 2.8em;
};
h2{
    font-size: 6em;
    text-decoration-line: underline;
    display: flex;
    justify-content:center;
    margin-bottom: 8%;
    margin-top: 4%;
    font-family: skinny;
};
.titles{
    padding-top: 4%;
};
.about{
    width: 50%;
    height: auto;
    padding: 1%;
    background-color: #4a6873;
    color: #eae4e4;
    border-radius: 10px;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    text-align: justify;
};
.about:hover{
    opacity: 0.2;
};

//body
.presentation{
    background-color: #d6d2d2;
    width: 100%;
    display: inline-block
};
 .descriptionFayard, .descriptionFrene{
     cursor: pointer;
 };
 .descriptionFayard p, .descriptionFrene p{
      font-size: 1.2em;
 };
.gites{
    background-color: #E5E5E5;
    width: 100%;
    display: inline-block;
    padding-bottom: 10%;
    height: 100%;
};
.first, .second{
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
};
.first{
    flex-direction: row;
    flex-direction: row-reverse;
};
.second{
    margin-top: 4%; 
}
.fayard,.frene{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    flex-direction: row-reverse;
};
.info{
    font-size: 4em;
    position: absolute;
    bottom: 50%;
    left: 30%;
};
.firstParagraph, .secondParagraph{
    width: 60%;
    padding-top: 5%;
    text-align: justify;
};
.descriptionFayard, .descriptionFrene{
    width: 50%;
    text-align: justify;
    margin-top: 2%;
};
//pictures
.firstPicture, .secondPicture{
    height: auto;
    padding: 1%;
    border-radius: 10px;
    margin-top: 20%;
}
.firstPicture{
    width: 100%;
    box-shadow: 1px 1px #4a6873, 24px -11px 17px #4a6873;
};
.secondPicture{
    box-shadow: 1px 1px #4a6873, -24px -11px 17px #4a6873;
};
.pictureDiv{
    margin-top: 4%;
};
.fayardPicture, .frenePicture{
    cursor: pointer;
    margin-top: 10%;
};
