//common
p{
    margin-top: 1%;
    margin-bottom: 1%;
};
.about, .presentation, .echaillon, .info{
    font-family: skinny;
};
.about, .firstParagraph, .secondParagraph, .descriptionFayard, .descriptionFrene{
    font-size: 1.6em;
};
#all{
    background-color: #efefef;
};
//title animation
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 4em;
	color: #9e9ba4;
	display: inline-block;
};
.valcaris {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #424242;
};

.valcaris:hover {
	color: #b9a86a;
};

.valcaris::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
};

.valcaris:hover::after {
	transform: translate3d(100%,0,0);
};

.valcaris::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #b9a86a;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
};

.valcaris:hover::before {
	width: 100%;
};
#mediaTitle{
    text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
    color: #424242;
    display: flex;
    justify-content:center;
    margin-top: 14%;
    font-size: 8em
};
//head
#head{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10%;
};
//titles
.title h1{
    display: flex;
    justify-content:center;
    margin-top: 14%;
    font-size: 12em;
};
h2{
    font-size: 6em;
    text-decoration-line: underline;
    display: flex;
    justify-content:center;
    margin-bottom: 8%;
    margin-top: 4%;
    font-family: skinny;
};
.title{
    padding-top: 4%;
};
.about{
    width: 50%;
    height: auto;
    padding: 1%;
    background-color: #4a6873;
    color: #eae4e4;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    text-align: justify;
};
//body
.presentation{
    background-color: #d6d2d2;
    width: 100%;
    display: inline-block
};
 .descriptionFayard, .descriptionFrene{
     cursor: pointer;
};
 .descriptionFayard p, .descriptionFrene p,.first, .second{
      font-size: 1.2em;
};
.gites{
    background-color: #E5E5E5;
    width: 100%;
    display: inline-block;
    padding-bottom: 10%;
    height: 100%;
};
.first, .second{
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
};
.first{
    flex-direction: row;
    flex-direction: row-reverse;
};
.second{
    margin-top: 4%; 
};
.fayard,.frene{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    flex-direction: row-reverse;
};
.info{
    font-size: 4em;
    position: absolute;
    bottom: 50%;
};
.firstParagraph, .secondParagraph{
    width: 60%;
    padding-top: 5%;
    text-align: justify;
};
.descriptionFayard, .descriptionFrene{
    width: 50%;
    text-align: justify;
    margin-top: 2%;
};
.infoMedia{
    opacity: 0;
};
//pictures
.firstPicture, .secondPicture{
    height: auto;
    padding: 1%;
    border-radius: 10px;
    margin-top: 20%;
};
.firstPicture{
  //  width: 100%;
    box-shadow: 1px 1px #4a6873, 24px -11px 17px #4a6873;
};
.secondPicture{
    box-shadow: 1px 1px #4a6873, -24px -11px 17px #4a6873;
};
.pictureDiv{
    margin-top: 4%;
};
.fayardPicture, .frenePicture{
    cursor: pointer;
    margin-left: 4%;
    margin-top: 10%;
};
.mat-tab-group{
    font-family: skinny!important;
    width: 80%!important;
    margin: 0 auto!important;
};
//carousel
.carousel {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 10%;
};
ngb-carousel{
    display: flex;
    text-align: center;
}
.arrow{
    text-align: center;
};
.fa-angle-down{
    font-size: 200px;
};
.arrow i { 
    margin-top: 6%;
    animation-duration: 8s;
    animation-name: scroll;
    opacity: 0;
};
@keyframes scroll {
  from {margin-top: 8%; opacity: 0;}
    20%{margin-top: 8%; opacity: 0.4;}
    30%{margin-top: 8%}
    40%{margin-top: 12%; opacity: 1;}
    50%{margin-top: 8% }
    60%{margin-top: 12%}
    70%{margin-top: 8%}
  to {margin-top: 12%; opacity:0;}
};

//media queries
@media (max-width: 1680px){
    .first, .second{
        width: 90%;
    };
    .mat-tab-group{
       width:  90%!important;
    };
    .info{
    bottom: 70%;
    left: 30%;
    }
};

@media (max-width :1470px){
   .first,.second{
       flex-direction: column;
       align-items: center;
       width: 80%;  
   };
   .firstParagraph, .secondParagraph{
        padding-top: 5%;
        text-align: left;
        font-size: 1.2em;
    };
    .fayard,.frene{
        align-items: center;
        margin-top: 4%;
        flex-direction: column-reverse;
    };
    .mat-tab-group{
        align-items: center;
        font-size: 0.8em !important;
    };
    .fayardPicture, .frenePicture{
        margin-left: 0;
    };
};
@media (max-width: 990px){
    .about{
        width: 80%;
    };
    .info{
        opacity: 0;
    };
    .infoMedia{
        opacity: 1;
        text-align: center;
    };
};
@media screen, (max-width: 690 px){
    #mediaTitle {
        font-size: 4em;
    };
};
@media screen,(max-width: 300){
    .presentation{
        width: auto;
    };
 
};