
<div class="body">   
    <div class="content">
        <div class="titles">
            <h1>Bienvenue chez Valcaris</h1>
            <h3>Welcome to Valcaris</h3>
        </div>
        <div class="about">
            <p> 
                Nous vous accueillons autour de notre table d'hôtes que vous soyez en séjour ou à l'étape. <br />
                Accueil Rando : randonneurs à pied, grimpeurs (proche site Omblèze), Vttistes et cyclotouristes, accueil cavaliers
                et ânes.
            </p>
            <p>
                L'hiver : proximité du site nordique de l'Echaillon, rando raquettes et ski de randonnée nordique au départ des
                gîtes.<br/>
                L'automne : soirées brâme du cerf 1/2 pension (nous contacter).
            </p>
            <p>
                Services randonneurs : local de rangement à disposition (vélos, sellerie...) ; <br />
                parc à disposition pour chevaux et ânes(gratuit); <br />
                mise à disposition machine à laver et sèche-linge (forfait 5 €).<br />
                Pour le motards : garage pour 12 motos environ et de l'outillage à leur disposition.<br />
                Panier-repas sur réservation au plus tard la veille (10 €) : salade composée, sandwiches charcuterie & fromages
                locaux,
                barre de céréales, fruit. Pour le respect de l'environnement, il est préférable d'apporter "sa gamelle".
            </p>
        </div>
    </div>
</div>
