<div class="homeBody">  
    <div id="all">
        <div id="head">   
            <div id="home">
                <div class="title" *ngIf="desktopSize">
                    <h1><a class="valcaris" href="/" >valcaris</a></h1>
                </div>
                    <div id="mediaTitle" *ngIf="mobileSize">Valcaris</div>
                <div class="arrow"><a href="#gites"> <i class="fas fa-angle-down"></i> </a> </div>
                <div class="about" [@scrollAnimation]="state">
                    <p> 
                        Les Gîtes VALCARIS se situent au cœur des Balcons sud du Vercors, au sein du Parc Naturel Régional du Vercors.
                    </p> 
                    <p>
                        Dans un écrin de verdure, à mi-chemin du Pays de la Gervanne et du Pays du Royans, à 980m d’altitude, nous vous
                        accueillons dans une ancienne ferme du XVIIème, entièrement rénovée.
                    </p>
                    <p>
                        Vous profiterez d’une nature sauvage, idéale pour vous ressourcer, randonner, voire herboriser.
                    </p>
                    <p>
                        Vous pourrez vous fondre dans une faune et une flore naturellement abondantes. <br/>
                    </p>
                    <p>
                        Si vous en faites la demande par avance, vous pourrez envisager, avec formation assurée par Roger, des
                        ballades avec ânes.
                    </p>
                    <p>
                        Nous pourrons également vous concocter aux beaux jours des itinéraires de randonnées pédestres ou à
                        VTT, vous indiquer les superbes sites d’escalade ou de canyoning qui nous entourent, et dès que la neige
                        arrive les possibilités de ski nordique ou de raquettes.
                    </p>
                </div>
            </div>
        </div>
        <div class="gitesContainer"  id="gites">
            <div class="gites">
                <h2>Nos Gîtes</h2>
                <mat-tab-group>
                    <mat-tab label="Le Fayard">
                        <div class="fayard" >
                            <div class="fayardDiv" *ngIf="desktopSize">
                                <img class="fayardPicture bordered" src="/assets/fayard/entree.jpg" alt="entree" routerLink="/fayard">
                            </div>
                            <div class="descriptionFayard" routerLink="/fayard" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"[style.opacity]="homeService.changeOfState">
                                <div>
                                    <h1>Le Fayard</h1>
                                    <hr> <br/>
                                    <p>
                                        Tout comme son voisin le Frêne, le gîte du Fayard, d’une superficie d’environ 60m²,
                                        entièrement rénové par nos soins,
                                        conserve son charme d’antan avec son carrelage d’origine.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="infoMedia" routerLink="/fayard">
                            Cliquez pour plus d'information !
                        </div>
                    </mat-tab>
                    <mat-tab label="Le Frène">
                        <div class="frene" >
                            <div class="freneDiv">
                                <img class="frenePicture bordered" src="/assets/frene/entree.jpg" alt="" routerLink="/frene" *ngIf="desktopSize">
                            </div>
                            <div class="descriptionFrene" routerLink="/frene" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [style.opacity]="homeService.changeOfState">
                                <h1>Le Frene</h1>
                                <hr> <br />
                                <p>
                                    Le gîte du Frêne fait partie avec son voisin le Fayard d’un corps de bâtiment proche de notre
                                    propre
                                    habitation.
                                    il possède tout le confort nécessaire, tout en conservant le cachet de l’ancien.
                                </p>
                            </div>
                        </div>
                        <div class="infoMedia" >
                            Cliquez pour plus d'information !
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="presentationContainer">
            <div class="presentation">
                <div class="first">
                    <div class="pictureDiv" *ngIf="desktopSize">
                        <img [@scrollAnimation]="state" class="firstPicture bordered" src="/assets/firstPicture.jpg" alt="montagne">
                    </div>
                    <div class="firstParagraph">
                        <p>
                            Au départ de nos gîtes, différentes randonnées peuvent vous être proposées pour partir à la découverte
                            d’orchis, de la flore et faune sauvage, à travers les sentiers balisés du parc et du GR.
                        </p>
                        <p>
                            Ces différentes randos peuvent se faire à pied, accompagné ou non d’un âne équipé d’un bât.
                        </p>
                        <p>
                            Nos deux gîtes communiquent si nécessaire (gîte de groupe) par le rez de chaussée et vous offrent tous les
                            deux un espace extérieur avec table et banc de jardin, afin de profiter du silence, de l’air et du soleil de
                            nos montagnes.
                        </p>
                        <p>
                            A votre demande, nous tenons à votre disposition un barbecue.
                        </p>
                    </div>
                </div>
                <div class="second"> 
                    <div class="pictureDiv">
                        <img class="secondPicture .bordered" src="/assets/secondPicture.jpg" alt="forest" *ngIf="desktopSize">
                    </div>   
                    <div class="secondParagraph">
                        <p>
                        Nos gîtes sont isolés ainsi que vous le montre cette photo. Il vous faudra donc envisager les courses
                        nécessaires par avance : à votre disposition frigo et congélateur pour votre confort.
                        </p>
                        <p>
                            Cependant vous pourrez également vous faire plaisir et profiter des auberges sises à Léoncel, face à
                            l’abbaye cistercienne, ou encore au col de la Bataille ou au col des Limouches à moins de 5 minutes de
                            nos gîtes.
                        </p>
                        <p>
                            Si vous en faites la demande par avance, vous pourrez profiter de la cuisine de Sylvie qui privilégie les
                            légumes et produits des fermes les plus proches (fromages au lait de vache ou au lait de chèvre de
                            Léoncel, viande du Chaffal par exemple).
                        </p>
                        <p>
                            En fonction de vos envies, de vos besoins, il est possible, sur demande expresse, de concocter des plats
                            végétariens, voire végétaliens et/ou sans gluten.                        </p>
                        <p>
                            Nous acceptons les animaux, chiens chats et même tortues, mais nos amis à quatre pattes ne sont pas
                            autorisés dans les étages.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel">
                <ngb-carousel *ngIf="random">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="random[0]" alt="Random first slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="random[1]" alt="Random second slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="bordered" [src]="random[2]" alt="Random third slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="bordered" [src]="random[3]" alt="Random third slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="bordered" [src]="random[4]" alt="Random third slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [class="bordered" src]="random[5]" alt="Random third slide">
                        </div>
            
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="bordered" [src]="random[6]" alt="Random third slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="bordered" [src]="random[7]" alt="Random third slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="bordered" [src]="random[8]" alt="Random third slide">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
</div>
