
<div class="head">   
    <div class="home">
        <div class="titles">
            <h1><a class="link valcaris" href="/" data-letters="valcaris">valcaris</a></h1>
        </div>
        <div class="about" [@scrollAnimation]="state">
            <p> 
            Les Gîtes VALCARIS se situent au cœur des Balcons sud du Vercors, au sein du Parc Naturel Régional du Vercors.
            </p>
            <p>
                Dans un écrin de verdure, à mi-chemin du Pays de la Gervanne et du Pays du Royans, à 980m d’altitude, nous vous
                accueillons dans une ancienne ferme du XVIIème, entièrement rénovée.
            </p>
            <p>
                Vous profiterez d’une nature sauvage, idéale pour vous ressourcer, randonner, voire herboriser.
            </p>
            <p>
                Vous pourrez vous fondre dans une faune et une flore naturellement abondantes. <br/>
            </p>
            <p>
                Avec les conseils de Roger vous pourrez envisager des ballades avec nos ânes.
            </p>
            <p>
                Nous pourrons également vous concocter aux beaux jours des itinéraires de randonnées pédestres ou à VTT, vous indiquer
                les superbes sites d’escalade ou de canyoning qui nous entourent, et dès que la neige arrive les possibilités de ski
                nordique ou de raquettes.
            </p>
        </div>
    </div>
           

</div>
<div class="presentation">
    <div class="first">
        <div>
            <img class="firstPicture" src="/assets/firstPicture.jpg" alt="montagne">
        </div>
        <div class="firstParagraph">
            <p>
                Au départ de nos gîtes des différentes randonnées vous seront proposées pour partir à la découverte d’orchis, de la
                flore et faune sauvage à travers nos sentiers balisés.
            </p>
            <p>
                Ces différentes randos peuvent se faire à pieds accompagné d’un âne équipé d’un bât, ou sans ami à quatre pattes.
            </p>
            <p>
                Nos deux gîtes communiquent si nécessaire (gîte de groupe) par le rez de chaussée et vous offrent tous les deux un
                espace extérieur avec table et banc de jardin, afin de profiter du silence, de l’air et du soleil de nos montagnes.
            </p>
            <p>
                A votre demande, nous tenons à votre disposition un barbecue.
            </p>
        </div>
    </div>
    <div class="second"> 
        <div class="pictureDiv">
            <img class="secondPicture" src="/assets/secondPicture.jpg" alt="forest">
        </div>   
        <div class="secondParagraph">
            <p>
            Nos gîtes sont isolés ainsi que vous le montre cette photo, il vous faudra donc envisager les courses nécessaires par
            avance : à votre disposition frigo et congélateur pour votre confort.
            </p>
            <p>
            Cependant vous pourrez également vous faire plaisir et profiter des auberges sises à Léoncel, près de l’abbaye
            cistercienne, ou encore au col de la Bataille ou au col des Limouches à moins de 5 minutes de nos gîtes.
            </p>
            <p>
            Si vous en faites la demande par avance, vous pourrez partager notre table où je privilégie les légumes de mon jardin et
            les produits des fermes les plus proches (fromages au lait de vache ou au lait de chèvre de Léoncel, viande du Chaffal
            par exemple).
            </p>
            <p>
            En fonction de vos envies, de vos besoins je cuisine avec plaisir végétarien, voire végétalien et/ou sans gluten.
            </p>
            <p>
            Nous acceptons les animaux, chiens chats et même tortues, mais nos amis à quatre pattes ne sont pas autorisés dans les
            étages.
            </p>
        </div>
    </div>

</div>
<div class="gites">
    <h2 >Nos Gîtes</h2>
    <div class="fayard">
        <div class="fayardDiv">
            <img class="fayardPicture" src="/assets/fayard/entree.JPG" alt="entree" routerLink="/fayard">
        </div>
        <div class="descriptionFayard">
            <h1>Le Fayard</h1>
            <p>
                Le gîte du Frêne fait partie avec son voisin le Fayard d’un corps de bâtiment proche de notre propre habitation.
            </p>
            Rénové par nos soins dans le souci du respect environnemental, il possède tout le confort nécessaire, tout en
            conservant
            le cachet de l’ancien.
        </div>
    </div>
    <div class="frene">
        <div class  ="freneDiv">
            <img class="frenePicture" src="/assets/frene/entree.JPG" alt="" routerLink="/frene">
        </div>
        <div class="descriptionFrene">
            <h1>Le Frene</h1>
            <p>
            Le gîte du Frêne fait partie avec son voisin le Fayard d’un corps de bâtiment proche de notre propre habitation.
            </p>
            <p>
            Rénové par nos soins dans le souci du respect environnemental, il possède tout le confort nécessaire, tout en conservant
            le cachet de l’ancien.
            </p>
        </div>
    </div>
</div>
<div class="echaillon">
    <div class="descriptionEchaillon">
        <h1>Le Grand Échaillon</h1>
        <h3>Des professionnels de la montagne vous accompagnent</h3>
        <p>
            Pour accompagner toutes vos randonnées en montagne, vos sorties à VTT ou en marche nordique et trouver les meilleurs
            points de vues pour photographier notre Vercors, faites appel aux professionnels, Étienne, Stéphane, Nicolas et
            Stéphane.
        </p>
        <p>
            Toutes ces activités peuvent se faire au départ de nos hébergements, accompagné d'un pique-nique si vous le désirez.
        </p>
    </div>
</div>

