/* You can add global styles to this file, and also import other style files */

html, body { height: 95%;}
body { 
  margin: 0; 
  *{
    outline: none!important;
  }
  .mat-elevation-z4{
    box-shadow: none;
    background-color: #1fe0;
  };

  .mat-tab-label-content{
      font-size: 2.2em; 
      font-family: skinny;
      padding-bottom: 6%;
  };
  .carousel-indicators li{
    background-color:#4a6873 ;
    width: 38px;
    height: 6px;
  };
  .carousel-control-prev-icon, .carousel-control-next-icon{
    width: 100px;
    height: 50px;
  }
  @media (max-width: 400px){
    .mat-tab-label-content{
      font-size: 1.5em;
    };
    .mat-menu-content {
      background-color: #4a6873 !important;
      opacity: 0.9;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      margin-left: 8%;
      border-radius: 14px;
    };
    .mat-menu-content span{
      font-family: skinny;
      color: #eae4e4;
      font-size: 1.8em;
    };
  }
}
  @font-face{
  font-family: menu;
  src: url(fonts/anugrah/Anugrah.ttf) format("opentype")
  };
  @font-face{
    font-family: skinny;
    src: url(fonts/vertigo/VertigoFLF-Bold.ttf) format("opentype")
  };