/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face{
  font-family: menu;
  src: url(fonts/sibertha/Sibertha.otf) format("opentype")
}
@font-face{
  font-family: skinny;
  src: url(fonts/MySkinnyType.ttf) format("opentype")
}