/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f9f9f9; 
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .mat-elevation-z4{
    box-shadow: none;
    background-color: #1fe0;
  };
  .mat-tab-label-content{
      font-size: 2.8em; 
      font-family: skinny;
      padding-bottom: 6%;
  };

}
  @font-face{
  font-family: menu;
  src: url(fonts/anugrah/Anugrah.ttf) format("opentype")
  };
  @font-face{
    font-family: skinny;
    src: url(fonts/vertigo/VertigoFLF-Bold.ttf) format("opentype")
  };